
body{
    margin: 0;
}
.footer-page{
    background-color: black;
    width: 100%;
    color: white;    
    bottom: 3%;
    position: absolute;
    align-content: center;
}

.footer-page .space{
    margin: auto;
    bottom: 10%;
}

.footer-page .column{
    float: left;
    width: 30%;
    margin-left: 2%;
}

h4{    
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    margin-bottom: 0;  
}

h5{
    
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    margin-bottom: 0;  
}

p{
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

.owner{
    background-color:rgb(30, 30, 30);    
    width: 100%;
    height: 26px;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
}

.owner p{
    font-size: 10px;
}