body{
  margin: 0;
  padding: 0;
}

.sidenav-container {
  height: 100%;  
  box-shadow: -1px -1px 4px 4px #b9b9b9;  
}

.sidenav-container h1{
  font-family: 'Comfortaa', cursive;
}

.sidenav-container button{
  font-family: 'Comfortaa', cursive;
}

.var-spacer {
  flex: 1 1 auto;
}

.sidenav-container.toolbar-mobile {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
