<mat-sidenav-container class="sidenav-container">
  <!--  ESCRITORIO  -->
  <mat-sidenav-content #desktop fixedInViewport="true" *ngIf="!(isHandset$ | async)">
      <mat-toolbar color="primary">
          <h1>Pharma Quimicos</h1>
          <span class="var-spacer"></span>
          <button mat-button routerLink='home'>Inicio</button>
          <button mat-button href='#'>Productos</button>
          <button mat-button href='#'>Clientes</button>
          <button mat-button href='#'>Nosotros</button>
          <button mat-button href='#'>Contacto</button>
          <button mat-icon-button href='#' (click)="openDialog()">
                <mat-icon>search</mat-icon>
            </button>
          
      </mat-toolbar>
  </mat-sidenav-content>

<!--  MOBILE  -->
<mat-sidenav-content #mobile fixedInViewport="true" *ngIf="(isHandset$ | async)">
    <mat-toolbar color="primary">
        <h1>Pharma Quimicos</h1>
    </mat-toolbar>
    <mat-toolbar class="toolbar-mobile" color="primary">
        <button mat-icon-button>
                <mat-icon>home</mat-icon>
                </button>
        <button mat-button>Productos</button>
        <button mat-button>Clientes</button>
        <button mat-button>Nosotros</button>
        <button mat-icon-button>
            <mat-icon>contact_support</mat-icon>
            </button>
      </mat-toolbar>
</mat-sidenav-content>

</mat-sidenav-container>






